*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.container{
    height: 100vh;
    width:100%;
}

.prima-scheda{
    background-color: red;
    position:relative;
}

.seconda-scheda{
    background-color: green;
    position:relative;
}
.terza-scheda{
    background-color: yellow;
    position:relative;
}

nav{
    position:fixed;
    top:30px;
    right:15px;
}
nav li{
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    padding:5px;
    margin-left: 20px;
}

nav li a {
    text-decoration: none;
    padding:5px;
    color:black;
    font-size: 20px;
    font-weight: 800;
}

img{
    height: 400px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.descrizione{
    position:absolute;
    left:30%;
    bottom:15%;
    color:yellow;
}