*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
    overflow:hidden;    /*per togliere la scrollbar*/
}

.container{
    height: 100vh;
    width:100%;
}

.prima-scheda{
    background-color: red;
    position:relative;  /*in questo modo l'elemento img viene ad avere il padre(diretto) con proprietà
                          position diversa da static;altrimenti avrebbe fatto riferimento al body*/
                    
}

.seconda-scheda{
    background-color: green;
    position:relative;
    
}
.terza-scheda{
    background-color: yellow;
    position:relative;
}

nav{
    position:fixed;
    z-index: 2; /*perchè gli elementi con proprietà 'position:absolute' assumono automaticamente
                  uno z-index pari a 1 e quindi vengono ad essere in primo piano rispetto agli altri
                  elementi.Ora,siccome voglio che il menù di navigazione sia sempre visbile,oltre
                  ad impostare 'position:fixed' ci metto un 'z-index:2' cosicchè viene ad essere il menù
                  con z-index maggiore e quidi si vede in primo piano rispetto agli elementi absolute*/
    top:30px;
    right:15px;
}
nav li{
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    padding:5px;
    margin-left: 20px;
}

nav li a {
    text-decoration: none;
    padding:5px;
    color:black;
    font-size: 20px;
    font-weight: 800;
}

.img{
    width: 100px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.descrizione-1{
    position:absolute;
    left:40%;
    bottom:15%;
    color:yellow;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 10px;
}

.descrizione-2{
    position:absolute;
    left:40%;
    bottom:10%;
    color:yellow;
    padding-left:110px;
    font-weight: 800;
    font-size: 30px;
}

.descrizione-3{
    position:absolute;
    left:40%;
    bottom:10%;
    color:green;
    padding-left:110px;
    font-weight: 800;
    font-size: 30px;
    margin-bottom:30px;
}

.descrizione-4{
    position:absolute;
    left:40%;
    bottom:10%;
    color:green;
    padding-left:130px;
    font-weight: 800;
    font-size: 30px;

}